<p>Hola <%= @resource.nombre %>!</p>

<p>Alguien ha solicitado cambiar su password, y puede hacerlo haciendo click en el siguiente link.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no realizó esta solicitud, por favor ignore este email.</p>
<p>Su password no será cambiada hasta que acceda al link indicado y cree una nueva password.</p>
