<div class="jumbotron">
	<h1>Comisiones.cl</h1>
	<h3>El primer Outsourcing social de ventas</h3>
	<p class="lead">
		¿Eres estudiante universitario? ¿Te falta dinero?
...Elige productos de nuestro catálogo y véndelos!
Sin contratos ni horarios y recibe el pago de tu comisión directamente a tu bolsillo!
	</p>
	<a class="btn btn-large btn-success" href="<%= url_for new_vendedor_session_path %>">Regístrate ahora!</a>
</div>

<hr>

<div class="row-fluid marketing">
	<div class="span6">
		<h4>Flexible</h4>
		<p>Vende cuando y donde tú quieras.</p>

		<h4>Seguro</h4>
		<p>
			Nosotros nos aseguramos de que recibas tus pagos directamente a tu cuenta.
		</p>

		<h4>Profesionalismo</h4>
		<p>
			te ayudamos a adquirir las destrezas necesarias para una buena ejecución del servicio.
		</p>
	</div>

	<div class="span6">
		<h4>Social</h4>
		<p>Personas que venden a Personas.</p>

		<h4>Barato</h4>
		<p>Una fuerza de ventas sin costes fijos.</p>

		<h4>Eficaz</h4>
		<p>Llega a nuevos clientes.</p>
	</div>
</div>