<div class="hero-unit">
        <h2>Términos y Condiciones del Servicio</h2>
        <p align="justify">Al registrarte, publicar productos, vender, o utilizar cualquiera de las funcionalidades de Comisiones.cl, estás aceptando los siguientes términos y condiciones del servicio.</p>

        <h4>Vendedores</h4>
        <ul>
        <li align="justify">Entregar información fidedigna al momento de registro de admisión.</li>
		<li align="justify">Podrá revisar un catálogo de productos disponibles para la venta, elegir el más conveniente para vender e ingresar pedidos de productos de sus ventas realizadas.</li>
		<li align="justify">Seleccionar cualquier producto del catálogo, con el derecho de elegir la comisión más conveniente para él.  </li>
		<li align="justify">
Toda comisión se entiende como percibida, únicamente si la empresa ha confirmado la venta.
</li>
<li align="justify">
Por cada comisión adquirida por el vendedor, Comisiones.cl cobrará un 0,14% sobre la comisión respectiva.</li>
<li align="justify">
La comisión será depositada al quinto día hábil del mes siguiente del ejercicio, y sólo si el monto es superior a $20.000, en la cuenta corriente, cuenta vista o cuenta RUT acordada. De no cumplir con el monto mínimo, el saldo se traslada automáticamente, al mes siguiente. </li>
<li align="justify">
Si un cliente informa a la Empresa que el pedido es cancelado, no se abonará el dinero de la comisión a la cuenta respectiva. </li>
<li align="justify">
Comisiones.cl  te calificará mensualmente, según las ventas concretadas. Estas calificaciones te ayudarán a vender más, aparecer mejor rankeado en las búsquedas dentro de nuestro sitio web y ser incluido en los destacados para poder optar a ser contratado por cualquier empresa registrada en Comisiones.cl.</li>
<li align="justify">
Toda comunicación entre el vendedor y la Empresa debe ser mediante el sistema de mensajería interna a través de Comisiones.cl. Cualquier intento, exitoso o no, de comunicación o pago por fuera de nuestra plataforma implicará el cierre inmediato de tu cuenta.</li>
</ul>

 <h4>Empresas</h4>
<ul>
 <li align="justify">
 	 Ingresar productos al catálogo, ya sea en forma directa o por encargo a Comisiones.cl según la cantidad.
 </li>

 <li align="justify">
 	Publicar productos en el catálogo de Comisiones.cl, listar perdidos recibidos y confirmar ventas concretadas. 
 </li>

 <li align="justify">
 	Cada producto ofrecido en Comisiones.cl deberá especificar la comisión asociada al producto. La cual, deberá incluir los costos asociados a traslados. 
 </li>

 <li align="justify">
 	Revisar los pedidos cada 3 días o semanalmente, los cuales serán avisados en forma oportuna vía correo electrónico. Revisión directa o por encargo según tipo de contrato.
 </li>

 <li align="justify">
 	Una vez concretada la venta, la empresa deberá informar y confirmar en Comisiones.cl. Conjuntamente, depositando el total de las comisiones por ventas percibidas a la cuenta bancaría establecida según contrato.
 </li>

 <li align="justify">
 	Podrá solicitar información previa del vendedor comisionista, la cual estará disponible en Comisiones.cl.  
 </li>

 <li align="justify">
 	En caso de que alguna venta no sea confirmada, a pesar de ser concretada, Comisiones.cl tendrá el derecho de bloquear el acceso sitio.
 </li>

<li align="justify">
 	Optar a servicio de “Route Vendors” indicando las rutas respectivas que el Vendedor deberá visitar.  </li>

 <li align="justify">
 	Toda comunicación entre La Empresa y el Vendedor debe ser mediante el sistema de mensajería interna a través de Comisiones.cl. Cualquier intento, exitoso o no, de comunicación o pago por fuera de nuestra plataforma implicará el cierre inmediato de tu cuenta. </li>

 <li align="justify">
 	No está permitida la publicación de productos que violen alguna ley, sean racistas, promuevan el odio, inciten a la violencia o sean de contenido para adultos.
 	 </li>


</ul>



<h4>Términos Generales</h4>
<p align="justify">
Cualquier diferencia entre la empresa y el vendedor de un producto, debe ser solucionada  con Comisiones.cl como mediador respectivo. Comisiones.cl podrá intervenir y determinar si el servicio fue prestado de acuerdo a las reglas del servicio. 

</p>


      </div>