<p>Hola <%= @resource.nombre %>!</p>

<p>Alguien ha solicitado cambiar tu password, y puedes hacerlo haciendo click en el siguiente link.</p>

<p><%= link_to 'Cambiar mi password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si no realizaste esta solicitud, por favor ignora este email.</p>
<p>Tu password no será cambiada hasta que tu accedas al link indicado y crees una nueva password.</p>
