<p>Hola <%= @resource.nombre %>!</p>

<p>Su cuenta ha sido bloqueada debido a un excesivo numero de intentos fallidos de ingreso.</p>

<p>Haga click en el link que está a continuación para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
