<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bienvenido a Comisiones.cl, <%= @vendedor.nombre %>!</h1>
    <p>
      Te has registrado satisfactoriamente en nuestro sitio web,
      tu nombre de usuario es: <%= @vendedor.email %>.<br/>
      Dentro de poco nos contactaremos contigo para activar tu cuenta como vendedor.
<br/>
<br/>

    </p>
    <p>
      Para ingresar al sitio, solo haz click en este link: <%= @url %>.
    </p>
    <p>Gracias por registrarte y que tengas un buen día!</p>
<br/>
    <footer>
    <div class="footer">
      <p>&copy; Comisiones.cl 2013 </p>
    </div>
  </footer>
  </body>
</html> 