<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Mensaje de <%= @nombre %>:</h1>
    <p>
     <%=@mensaje %>
<br/>

    <footer>
    <div class="footer">
      <p>&copy; Comisiones.cl 2013 </p>
    </div>
  </footer>
  </body>
</html> 