<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <!-- Menu button for smallar screens -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span>Menu</span>
      </a>
      <!-- Site name for smallar screens -->
      <a href="index.html" class="brand hidden-desktop">ComisionesCL</a>

      <!-- Navigation starts -->
      <div class="nav-collapse collapse">        

        


        <!-- Links -->
        <ul class="nav pull-right">
          <li class="dropdown pull-right">            
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
              <i class="icon-user"></i> <%=current_vendedor.nombre %> <b class="caret"></b>              
            </a>
            
            <!-- Dropdown menu -->
            <ul class="dropdown-menu">


                <li class=""><%= link_to "Salir", destroy_vendedor_session_path %></li>
            </ul>
          </li>
          
        </ul>
      </div>

    </div>
  </div>
</div>