<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <strong>
      	<span class="text-center">
    	  <%= content_tag :div, msg, :id => "flash_#{name}" %>
    	  </span>
    </strong>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
	
$(".alert").alert();
window.setTimeout(function() { $(".alert").fadeOut("slow"); }, 2000);

</script>
